@media only screen and (min-width: 850px) {
    body{
        background-image: url('/img/background.svg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media only screen and (max-width: 850px) {
    #my-picture{
        max-width: 150px !important;
    }
}

.company-logo{
    max-width: 85px;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}